@using QL_BanGiay.Areas.Admin.Models;
@using System.Globalization;
@model IEnumerable<QL_BanGiay.Data.Giay>
@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
    PagerModel pager = ViewBag.Pager;
    ViewData["Title"] = pager.Action;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
    int stt = 0;
}

<section class="product-wrapper pt-50 pb-50">
    <div class="container">
        <div class="block">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Trang Chủ</a></li>
                    <li>/<span>@pager.Action</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <img src="~/assets/images/client-logo/adidas-background.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row" id="getallvans">
            @foreach (var item in Model)
            {
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <div class="product-style-7 mt-20">
                        <div class="product-image">
                            <div class="product-active">
                                <div class="product-item active">
                                    <a href="/@item.TenGiay">
                                        <img src="@item.AnhDd" alt="product" style="cursor: pointer">
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div style="position: relative; text-align: center;">
                        <h4 class="view-name">@item.TenGiay</h4>
                        <div style="font-size: 12px;">
                            #@item.MaGiay
                        </div>
                        <div>
                            <span class="view-text-price">Giá: </span>
                            <span class="view-price">@String.Format(elGR, "{0:0,0}", item.GiaBan) VND</span>

                        </div>

                    </div>


                </div>
            }

        </div>
    </div>
</section>
<partial name="_topBar" model="@pager" />