@model QL_BanGiay.Areas.Admin.Models.UserRoleModel
@{
    Layout = null;
    var data = ViewData["CategoryID"];
}
<div class="card">
    <div class="card-header bg-danger text-uppercase text-white text-center mb-2 pt-0" style="height:25px;">
        <h6>Chỉnh sửa quyền</h6>
    </div>

    <form id="CodeSbyAnizForm" asp-route-id="@Model.UserName" asp-action="edit" onsubmit="return jQueryAjaxPost(this);">

        <div class="row col-12">

            <div class="row col-11 ml-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group col-2 ">
                    <label class="control-label">Mã người dùng:</label>
                </div>
                <div class="form-group col-3">
                    <input asp-for="MaNguoiDung" class="form-control" readonly />
                </div>

                <div class="form-group col-1">
                </div>
                <div class="form-group col-2">
                    <label class="control-label">Tên tài khoản:</label>
                </div>
                <div class="form-group col-3">
                    <input readonly asp-for="UserName" class="form-control" />
                </div>

                <div class="form-group col-2 ">
                    <label class="control-label">Tên người dùng:</label>
                </div>
                <div class="form-group col-3">
                    <input asp-for="HoTen" class="form-control" readonly />
                </div>
                <div class="form-group col-1">
                </div>
                <div class="form-group col-2">
                    <label class="control-label">Quyền người dùng:</label>
                </div>
                <div class="form-group col-3">
                    @for(int i=0; i < Model.manageUserRoles.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model.manageUserRoles[i].RoleId" />
                            <input type="hidden" asp-for="@Model.manageUserRoles[i].RoleName" />
                            <input asp-for="@Model.manageUserRoles[i].Selected" type="checkbox" />  @Model.manageUserRoles[i].RoleName
                          
                        </div>
                    }
                </div>
                <div class="form-group col-12">
                </div>

                <div class="form-group col-12">
                </div>
            </div>
            <div class="form-group btn-group col-11 ml-5">
                <div class="col-4 text-center">
                    <input type="submit" value="Lưu" class="btn btn-primary btn-block px-5" />
                </div>
                <div class="col-4 text-center" style="margin-left: 33%;">
                    <a class="btn btn-secondary btn-block" asp-action="index"
                       asp-route-pg="@TempData.Peek("CurrentPage")">Trở về</a>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
    </form>

</div>