@using QL_BanGiay.Areas.Admin.Models;
@model IEnumerable<QL_BanGiay.Data.Giay>
@{
    ViewData["Title"] = "Quản lí sản phẩm";
    SortModel sortModel = (SortModel)ViewData["sortModel"];
    PagerModel pager = ViewBag.Pager;
    int stt = 0;
    var items = "";
    //foreach (var item in Model)
    //{
    //    for (int i =0; i< item.NoiDungs.Count; i++)
    //    {
    //        items = item.NoiDungs[0].ThongTin;
    //    }
    //}
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <a onclick="showInPopup('@Url.Action("create","shoe",null,Context.Request.Scheme)','Thêm sản phẩm mới')" class="breadcrumb float-sm-right">
                    <p class="btn btn-success">Thêm sản phẩm mới</p>
                </a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <partial name="_topBar" model="@pager" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                <i class="@sortModel.GetColumn("MaGiay").SortIcon" arial-hidden="true"></i>
                                <a asp-action="Index" asp-route-SearchText="@ViewBag.SearchText" asp-route-sortExpression="@sortModel.GetColumn("MaGiay").SortExpression">
                                    Mã giày
                                </a>
                            </th>
                            <th>
                                <i class="@sortModel.GetColumn("NameShoe").SortIcon" arial-hidden="true"></i>
                                <a asp-action="Index" asp-route-SearchText="@ViewBag.SearchText" asp-route-sortExpression="@sortModel.GetColumn("NameShoe").SortExpression">
                                    Tên giày
                                </a>
                            </th>
                            <th>Ảnh đại diện</th>
                            <th>Nội Dung</th>
                            <th>
                                Chức năng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            stt = stt + 1;
                            <tr>
                                <td>
                                    @stt
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaGiay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenGiay)
                                </td>
                                <td>
                                    <img src="@Url.Content(item.AnhDd)" style="width:45px; height:45px" />
                                </td>
                                <td>
                                   @* @for(int i = 0; i< item.NoiDungs.Count; i++)
                                    {
                                        @Html.Raw(item.NoiDungs[i].ThongTin);
                                    }*@
                                    
                                </td>
                                <td>
                                    @if (item.TrangThai == true)
                                    {
                                        <a onclick="showInPopup('@Url.Action("edit", "shoedetails",new {id = item.MaGiay},Context.Request.Scheme)','Chỉnh sửa sản phẩm')" class="btn btn-success text-white"><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a onclick="showInPopup('@Url.Action("Details", "shoedetails",new {id = item.MaGiay},Context.Request.Scheme)','Thông tin chi tiết')" class="btn btn-primary text-white"><i class="fa-regular fa-eye"></i></a>
                                        @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                                        {
                                            <a onclick="showInPopup('@Url.Action("delete", "shoedetails",new {id = item.MaGiay},Context.Request.Scheme)','Xóa sản phẩm')" class="btn btn-danger text-white"><i class="fa-regular fa-trash-can"></i></a>
                                        }
                                    }
                                    else
                                    {
                                        <a onclick="showInPopup('@Url.Action("edit", "shoedetails",new {id = item.MaGiay},Context.Request.Scheme)','Chỉnh sửa sản phẩm')" class="btn btn-success text-white disabled" aria-disabled="true"><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a onclick="showInPopup('@Url.Action("Details", "shoedetails",new {id = item.MaGiay},Context.Request.Scheme)','Thông tin chi tiết')" class="btn btn-primary text-white"><i class="fa-regular fa-eye"></i></a>
                                        @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                                        {
                                            <a onclick="showInPopup('@Url.Action("delete", "shoedetails",new {id = item.MaGiay},Context.Request.Scheme)','Xóa sản phẩm')" class="btn btn-danger text-white disabled" aria-disabled="true"><i class="fa-regular fa-trash-can"></i></a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <partial name="_bottomBar" model="@pager" />
            </div>
        </div>
    </div>
</div>
