@using QL_BanGiay.Areas.Admin.Models;
@model IEnumerable<QL_BanGiay.Data.NhapHang>
@{
    ViewData["Title"] = "Quản lí nhập hàng";
    SortModel sortModel = (SortModel)ViewData["sortModel"];
    PagerModel pager = ViewBag.Pager;
    int stt = 0;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <a onclick="showInPopup('@Url.Action("create","purchaseorder",null,Context.Request.Scheme)','Thêm hóa đơn mới')" class="breadcrumb float-sm-right">
                    <p class="btn btn-success">Thêm hóa đơn nhập hàng</p>
                </a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <partial name="_topBar" model="@pager" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                <i class="@sortModel.GetColumn("IdOrder").SortIcon" arial-hidden="true"></i>
                                <a asp-action="Index" asp-route-SearchText="@ViewBag.SearchText" asp-route-sortExpression="@sortModel.GetColumn("IdOrder").SortExpression">
                                    Mã nhập hàng
                                </a>
                                
                            </th>
                            <th>
                                <i class="@sortModel.GetColumn("IdBill").SortIcon" arial-hidden="true"></i>
                                <a asp-action="Index" asp-route-SearchText="@ViewBag.SearchText" asp-route-sortExpression="@sortModel.GetColumn("IdBill").SortExpression">
                                    Số hóa đơn
                                </a>
                            </th>
                            <th>
                                <i class="@sortModel.GetColumn("Name").SortIcon" arial-hidden="true"></i>
                                <a asp-action="Index" asp-route-SearchText="@ViewBag.SearchText" asp-route-sortExpression="@sortModel.GetColumn("Name").SortExpression">
                                    Tên đơn vị nhập
                                </a>
                            </th>
                            <th>
                                <i class="@sortModel.GetColumn("Date").SortIcon" arial-hidden="true"></i>
                                <a asp-action="Index" asp-route-SearchText="@ViewBag.SearchText" asp-route-sortExpression="@sortModel.GetColumn("Date").SortExpression">
                                    Ngày nhập
                                </a>
                                
                            </th>
                            <th>
                                Chức năng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            stt = stt + 1;
                            <tr>
                                <td>
                                    @stt
                                </td>
                                <td>
                                     @Html.DisplayFor(modelItem => item.MaNhapHang)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoHoaDon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaDonViNhapNavigation.TenDonViNhap)
                                </td>
                                <td style="width: 350px;">
                                    <input style="border: 0;background-color: #f7f7f7;" readonly asp-for="@item.NgayNhap" class="form-control" />
                                </td>
                                <td>
                                    <a onclick="showInPopup('@Url.Action("edit", "purchaseorder",new {id = item.MaNhapHang},Context.Request.Scheme)','Chỉnh sửa bộ sưu tập')" class="btn btn-success text-white"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a onclick="showInPopup('@Url.Action("Details", "purchaseorder",new {id = item.MaNhapHang},Context.Request.Scheme)','Thông tin chi tiết')" class="btn btn-primary text-white"><i class="fa-regular fa-eye"></i></a>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                                    {
                                        <a onclick="showInPopup('@Url.Action("delete", "purchaseorder",new {id = item.MaNhapHang},Context.Request.Scheme)','Xóa bộ sưu tập')" class="btn btn-danger text-white"><i class="fa-regular fa-trash-can"></i></a>
                                    }
                                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <partial name="_bottomBar" model="@pager" />
            </div>
        </div>
    </div>
</div>