@{
    ViewData["Title"] = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;
    int tts = 0;
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-2 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.CountDonDat</h3>

                        <p>Đơn hàng mới</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.CountUser</h3>

                        <p>Đăng ký người dùng</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.TotalIncomeOneDay VND</h3>

                        <p>Doanh số trong ngày hôm nay</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.TotalIncomeSevenDay VND</h3>

                        <p>
                            Doanh số 7 ngày gần nhất
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>@ViewBag.TotalIncomeOneMonth VND</h3>

                        <p>Doanh số tháng @ViewBag.Month</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cash"></i>
                    </div>

                </div>
            </div>

            <!-- ./col -->

            <div class="col-lg-2 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.TotalIncomeOneQuarter VND</h3>

                        <p>Doanh số quý @ViewBag.Quarter</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="widget chart">
                    <div class="title p-4">
                        <h5 class="fw-blod">DOANH SỐ CỦA NHÃN HIỆU TRONG 7 NGÀY GẦN NHẤT</h5>
                        <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#f4f4f4">
                            <e-accumulation-series-collection>
                                <e-accumulation-series dataSource="@ViewBag.ChartPoints"
                                                       xName="Browser" yName="Total"
                                                       innerRadius="60%" legendShape="Circle"
                                                       palettes=@(new string[]{"#7d0a0a","#822690","#4c2090","#0e8d76"})>
                                    <e-accumulationseries-datalabel name="DataLabelMappingName" visible></e-accumulationseries-datalabel>
                                </e-accumulation-series>
                            </e-accumulation-series-collection>
                            <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                                <e-legendsettings-textstyle color="#000000" size="1rem"></e-legendsettings-textstyle>
                            </e-accumulationchart-legendsettings>
                            <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
                        </ejs-accumulationchart>
                    </div>

                </div>

            </div>
            <div class="col-md-8">
                <div class="widget chart">
                    <div class="p-4">
                        <h5 class="fw-bold">TỔNG DOANH SỐ TRONG 7 NGÀY GẦN NHẤT</h5>
                    </div>
                    <ejs-chart id="spline-chart" background="#f4f4f4"
                               palettes=@(new string[]{"#54ffa9"})>
                        <e-chart-primaryxaxis valueType="Category">
                            <e-majorgridlines width="0"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                        </e-chart-primaryxaxis>
                        <e-chart-primaryyaxis>
                            <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-linestyle width="0"></e-linestyle>
                        </e-chart-primaryyaxis>
                        <e-chart-chartarea>
                            <e-chartarea-border width="0"></e-chartarea-border>
                        </e-chart-chartarea>
                        <e-series-collection>
                            <e-series dataSource="@ViewBag.SplineChartData" xName="day" width="3"
                                      yName="income" name="Tổng doanh số" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                        </e-series-collection>
                        <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                            <e-legendsettings-textstyle color="#000000" size="1rem"></e-legendsettings-textstyle>
                        </e-chart-legendsettings>
                        <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>
                    </ejs-chart>

                </div>
            </div>
        </div>
        <div class="row mb-4">
            @if (ViewBag.Count != 0)
            {
                <div class="col-md-6">
                    <div class="widget chart">
                        <div class="title p-4">
                            <h5 style="color: red;" class="fw-blod text-center">CÁC MẶT HÀNG TRONG KHO DƯỚI 5 SẢN PHẨM</h5>

                        </div>
                        <table class="table">
                            <thead class="table-danger">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Mã giày</th>
                                    <th scope="col">Tên giày</th>
                                    <th scope="col">Size giày</th>
                                    <th scope="col">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.ListQuantityWareHouse)
                                {
                                    tts += 1;
                                    <tr>
                                        <th scope="row">@tts</th>
                                        <td>@item.MaGiay</td>
                                        <td>@item.TenGiay</td>
                                        <td>@item.TenSize</td>
                                        <td>@item.SoLuong</td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            }
            <div class="col-md-6">
                <div class="widget chart">
                    <div class="p-4">
                        <h5 style="color: blue;" class="fw-bold text-center">TOP 7 SẢN PHẨM THUỘC SIZE BÁN NHIỀU NHẤT TRONG 7 NGÀY GẦN NHẤT</h5>
                    </div>
                    <table class="table">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã giày</th>
                                <th scope="col">Tên giày</th>
                                <th scope="col">Size giày</th>
                                <th scope="col">Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ListQuantity)
                            {
                                stt = stt + 1;
                                <tr>
                                    <th scope="row">@stt</th>
                                    <td>@item.MaGiay</td>
                                    <td>@item.TenGiay</td>
                                    <td>@item.TenSize</td>
                                    <td>@item.SoLuong</td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
