@using System.Globalization;
@model QL_BanGiay.Data.Giay
@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
}
<tr class="row_@Model.MaGiay-@(ViewBag.IdSize)" data-idsize="@(ViewBag.IdSize)" data-id="@Model.MaGiay" data-size="@(ViewBag.SizeGiay)" data-price="@Model.GiaBan">
    <td class="text-center col-1">
        <a href="@Model.TenGiay"><img src="@Model.AnhDd" alt="img"></a>
    </td>
    <td class="name">
        <a href="@Model.TenGiay" style="font-size: 19px;
            line-height: 22px;
            font-weight: 700;
            color: #f82e56;
            -webkit-transition: color 0.2s ease;
            -o-transition: color 0.2s ease;
            transition: color 0.2s ease;">@Model.TenGiay</a>
        <br>
        <small>@(ViewBag.SizeGiay)</small>
    </td>
    <td class="text-center" id="price-@Model.MaGiay-@(ViewBag.IdSize)">@String.Format(elGR, "{0:0,0}",Model.GiaBan) VND</td>
    <td class="qty qty-changer text-center">
        <fieldset>
            <a href="javascript:void(0)" onclick="lowQuantity(`@Model.MaGiay`,@(ViewBag.IdSize))" class="minus-btn-@Model.MaGiay-@(ViewBag.IdSize) text-black"><i class="fas fa-minus bg-transparent"></i></a>
            <input onchange="change(`@Model.MaGiay`,@(ViewBag.IdSize));" id="quantity-@Model.MaGiay-@(ViewBag.IdSize)" type="text" name="name" value="@(ViewBag.SoLuong)" class="count border-left-light-gray border-right-light-gray">
            <a href="javascript:void(0)" onclick="heigthQuantity(`@Model.MaGiay`,@(ViewBag.IdSize))" class="plus-btn text-black"><i class="fas fa-plus bg-transparent"></i></a>
            <div id="quantityError_@(Model.MaGiay)"></div>
        </fieldset>
    </td>
    <td class="text-center" id="total-@Model.MaGiay-@(ViewBag.IdSize)"> @String.Format(elGR, "{0:0,0}", ViewBag.SoLuong * Model.GiaBan) VND</td>
    <td class="remove text-center"><a onclick="storage.removeCart('@Model.MaGiay', @(ViewBag.IdSize));" href="javascript:void(0)" style="color: red;" class="fa-solid fa-trash-can"></a></td>
</tr>