@using System.Globalization;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Trang chủ";
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
    bool blt = (await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded;
}
<link rel="stylesheet" href="~/assets/css/toastr.css" />
<section class="header-style-1">
    <div class="header-big">
        <div class="header-items-active">
            <div class="single-header-item bg_cover" style="background-image: url(assets/images/header-1/header-big-1.jpg);">
            </div>
            <div class="single-header-item bg_cover" style="background-image: url(assets/images/header-1/header-big-2.jpg);">
            </div>
            <div class="single-header-item bg_cover" style="background-image: url(assets/images/header-1/header-big-3.jpg);">
            </div>
        </div>
    </div>
    <div class="header-min">
        <div class="header-min-item product-style-25 bg_cover"
             style="background-image: url(assets/images/header-1/header-min-1.jpg);">
        </div>
        <div class="header-min-item product-style-25 bg_cover"
             style="background-image: url(assets/images/header-1/header-min-2.jpg);">
        </div>
    </div>
</section>
<section class="clients-logo-section pt-20 pb-20">
    <div class="container">
        <div class="row client-logo-active">
            <div class="col-lg-3">
                <div class="single-logo-wrapper">
                    <img src="assets/images/client-logo/vans.jpg" style="width: 75%;" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-logo-wrapper">
                    <img src="assets/images/client-logo/converse.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-logo-wrapper">
                    <img src="assets/images/client-logo/adidas.jpg" style="width: 75%" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-logo-wrapper">
                    <img src="assets/images/client-logo/nike.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Product 4 Vans Style 7 Part Start ======-->
<section class="product-wrapper pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <img src="~/assets/images/client-logo/vans1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row" id="getallvans">
            @foreach (var item in ViewBag.ItemsVans)
            {
                @if (item.GiaBan != null)
                {
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                            <div class="product-image">
                                <div class="product-active">
                                    <div class="product-item active">
                                        <a href="@item.TenGiay">
                                            <img src="@item.AnhDd" alt="product" style="cursor: pointer">
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div style="position: relative; text-align: center;">
                            <h4 class="view-name">@item.TenGiay </h4>
                            <div style="font-size: 12px;">
                                #@item.MaGiay
                            </div>
                            <div>
                                <span class="view-text-price">Giá: </span>
                                <span class="view-price">@String.Format(elGR, "{0:0,0}", item.GiaBan) VND</span>

                            </div>

                        </div>


                    </div>
                }

            }
            
        </div>
        <div class="row">
            <div class="text-center col-12 mt-5"><a href="/vans" class="btn btn-outline-warning">XEM THÊM</a></div>
        </div>

    </div>
</section>
<!--====== Product 4 Vans Style 7 Part Ends ======-->
<!--====== Product 1 Converse Style 7 Part Start ======-->
<section class="product-wrapper pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <img src="assets/images/client-logo/converse1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.ItemsConverse)
            {
                @if (item.GiaBan != null)
                {
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                            <div class="product-image">
                                <div class="product-active">
                                    <div class="product-item active">
                                        <a href="@item.TenGiay">
                                            <img src="@item.AnhDd" alt="product" style="cursor: pointer">
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div style="position: relative; text-align: center;">
                            <h4 class="view-name">@item.TenGiay </h4>
                            <div style="font-size: 12px;">
                                #@item.MaGiay
                            </div>
                            <div>
                                <span class="view-text-price">Giá: </span>
                                <span class="view-price">@String.Format(elGR, "{0:0,0}", item.GiaBan) VND</span>

                            </div>

                        </div>


                    </div>
                }

            }
        </div>
        <div class="row">
            <div class="text-center col-12 mt-5"><a href="/converse" class="btn btn-outline-warning">XEM THÊM</a></div>
        </div>
    </div>
</section>

<!--====== Product 1 Converse Style 7 Part Ends ======-->
<!--====== Product 2 Adidas Style 7 Part Start ======-->
<section class="product-wrapper pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <img style="width: 1200px" src="~/assets/images/client-logo/adidas-background.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.ItemsAdidas)
            {
                @if (item.GiaBan != null)
                {
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                            <div class="product-image">
                                <div class="product-active">
                                    <div class="product-item active">

                                        <a href="@item.TenGiay">
                                            <img src="@item.AnhDd" alt="product" style="cursor: pointer">
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div style="position: relative; text-align: center;">
                            <h4 class="view-name">@item.TenGiay </h4>
                            <div style="font-size: 12px;">
                                #@item.MaGiay
                            </div>
                            <div>
                                <span class="view-text-price">Giá: </span>
                                <span class="view-price">@String.Format(elGR, "{0:0,0}", item.GiaBan) VND</span>

                            </div>

                        </div>


                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="text-center col-12 mt-5"><a href="/adidas" class="btn btn-outline-warning">XEM THÊM</a></div>
        </div>
    </div>
</section>
<!--====== Product 2 Adidas Style 7 Part Ends ======-->
<!--====== Product 3 Nike Style 7 Part Start ======-->
<section class="product-wrapper pt-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <img style="width: 1200px" src="assets/images/client-logo/nike.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.ItemsNike)
            {
                @if (item.GiaBan != null)
                {
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                            <div class="product-image">
                                <div class="product-active">
                                    <div class="product-item active">
                                        <a href="@item.TenGiay">
                                            <img src="@item.AnhDd" alt="product" style="cursor: pointer">
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div style="position: relative; text-align: center;">
                            <h4 class="view-name">@item.TenGiay </h4>
                            <div style="font-size: 12px;">
                                #@item.MaGiay
                            </div>
                            <div>
                                <span class="view-text-price">Giá: </span>
                                <span class="view-price">@String.Format(elGR, "{0:0,0}", item.GiaBan) VND</span>

                            </div>

                        </div>


                    </div>
                }

            }
        </div>
        <div class="row">
            <div class="text-center col-12 mt-5"><a href="/nike" class="btn btn-outline-warning">XEM THÊM</a></div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/toastr.min.js"></script>
<script src="~/js/Cart.js"></script>
<!--====== Product Style 7 Part Ends ======-->
@if (TempData["Message"] != null)
{
    <script type="text/javascript">toastr.success("@TempData["Message"]");</script>
}
@if (TempData["ClearStogare"] != null)
{
    <script type="text/javascript">cart.clearItems();</script>
}
@if (blt)
{
    <script type="text/javascript">
        window.location.replace("/admin");
    </script>
}