@using System.Globalization;
@model QL_BanGiay.Data.NguoiDung
@{
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
}
<section class="user-dashboard-section section-b-space">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-xxl-3 col-lg-4">
                <div class="dashboard-left-sidebar">
                    <div class="close-button d-flex d-lg-none">
                        <button class="close-sidebar">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div class="profile-box">
                        <div class="cover-image">
                            <img src="~/assets/images/imagesUser/cover-img.jpg" class="img-fluid blur-up lazyload" alt="">
                        </div>

                        <div class="profile-contain">
                            <div class="profile-image">
                                <div class="position-relative">
                                    <img src="@Model.TaiKhoans[0].AnhTk" class="blur-up lazyload update_img" alt="">
                                    <div class="cover-icon">
                                        <i class="fa-solid fa-pen">
                                            <input id="uploadFile" type="file" onchange="readURL(this,0)">
                                        </i>
                                    </div>
                                </div>
                            </div>

                            <div class="profile-name">
                                <h3>@Html.DisplayFor(s=>s.HoNguoiDung) @Html.DisplayFor(s=>s.TenNguoiDung)</h3>
                                <h6 class="text-content">@Model.Email</h6>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <i data-feather="user"></i>
                                Thông tin tài khoản
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill" data-bs-target="#pills-order" type="button" role="tab" aria-controls="pills-order" aria-selected="false">
                                <i data-feather="shopping-bag"></i>
                                Lịch sử đặt hàng
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-address-tab" data-bs-toggle="pill" data-bs-target="#pills-address" type="button" role="tab" aria-controls="pills-address" aria-selected="false">
                                <i data-feather="map-pin"></i>
                                Địa chỉ
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xxl-9 col-lg-8">
                <div class="dashboard-right-sidebar">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                            <div class="dashboard-order">
                                <div class="title">
                                    <h2>LỊCH SỬ ĐẶT HÀNG</h2>
                                    <span class="title-leaf title-leaf-gray">
                                        <svg class="icon-width bg-gray">
                                            <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                                        </svg>
                                    </span>
                                </div>

                                <div class="order-contain">
                                    <table class="table">
                                        <thead class="table-dark">
                                            <tr>
                                                <th scope="col">Mã đơn đặt</th>
                                                <th scope="col">Ngày</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Tổng tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 0; i < Model.DonDats.Count; i++)
                                            {
                                                @if (i < 9)
                                                {
                                                    <tr>
                                                        <th style="color: blue;" scope="row">#@Model.DonDats[i].MaDonDat</th>
                                                        <td>@Convert.ToDateTime(Model.DonDats[i].NgayDat).ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                                                        @if (Model.DonDats[i].TrangThai == 0)
                                                        {
                                                            <td>Đặt hàng thành công</td>
                                                        }
                                                        else if (Model.DonDats[i].TrangThai == 1)
                                                        {
                                                            <td>Đơn hàng đã giao thành công</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Đơn hàng đã bị hủy</td>
                                                        }
                                                        <td> @String.Format(elGR, "{0:0,0}", @Model.DonDats[i].Total) VND</td>
                                                    </tr>


                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="pills-address" role="tabpanel" aria-labelledby="pills-address-tab">
                            <div class="dashboard-address">
                                <div class="title title-flex">
                                    <div>
                                        <h2>ĐỊA CHỈ</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <a onclick="showInPopup('@Url.Action("createaddress","account",null,Context.Request.Scheme)','Thêm sản phẩm mới')" class="btn theme-bg-color text-white btn-sm fw-bold mt-lg-0 mt-3">
                                        <i class="fa-solid fa-plus mr-1"></i><span style="margin-left: 5px;">Thêm địa chỉ</span>
                                    </a>
                                </div>

                                <div class="row g-sm-4 g-3">
                                    @for (int i = 0; i < Model.DiasChiUser.Count; i++)
                                    {
                                        if (i < 6)
                                        {
                                            <div class="col-xxl-4 col-xl-6 col-lg-12 col-md-6">
                                                <div class="address-box">
                                                    <div>
                                                        <div class="table-responsive address-table">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Địa chỉ :</td>
                                                                        <td>
                                                                            <p>
                                                                                @Model.DiasChiUser[i]
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="button-group">
                                                        <a onclick="showInPopup('@Url.Action("editaddress", "account",new {id = Model.IdDiaChi[i]},Context.Request.Scheme)','Chỉnh sửa địa chỉ')" class="btn btn-sm add-button w-100">
                                                            <i data-feather="edit"></i>
                                                            Sửa
                                                        </a>
                                                        <a onclick="showInPopup('@Url.Action("deleteaddress", "account",new {id = Model.IdDiaChi[i]},Context.Request.Scheme)','Xóa địa chỉ')" class="btn btn-sm add-button w-100">
                                                            <i data-feather="trash-2"></i>
                                                            Xóa
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="dashboard-profile">
                                <div class="title">
                                    <h2>THÔNG TIN TÀI KHOẢN</h2>
                                    <span class="title-leaf">
                                        <svg class="icon-width bg-gray">
                                            <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                                        </svg>
                                    </span>
                                </div>

                                <div class="profile-detail dashboard-bg-box">
                                    <div class="dashboard-title">
                                        <h3>Thông tin người dùng</h3>
                                    </div>
                                    <div class="profile-name-detail">
                                        <div class="d-sm-flex align-items-center d-block">
                                            <h3>@Html.DisplayFor(s=>s.HoNguoiDung) @Html.DisplayFor(s=>s.TenNguoiDung)</h3>
                                        </div>
                                        <a style="cursor: pointer;" onclick="showInPopup('@Url.Action("edit","account",null,Context.Request.Scheme)','Chỉnh sửa thông tin người dùng')">Chỉnh sửa</a>
                                    </div>

                                    <div class="location-profile">
                                        <ul>
                                            <li>
                                                <div class="location-box">
                                                    <i class="fa-solid fa-envelope"></i>
                                                    <h6>@Model.Email</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="location-box">
                                                    <i class="fa-solid fa-phone"></i>
                                                    <h6>
                                                        @Model.Sdt
                                                    </h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="location-box">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <h6>@Model.Address</h6>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="profile-about dashboard-bg-box">
                                    <div class="row">
                                        <div class="col-xxl-7">
                                            <div class="dashboard-title mb-3">
                                                <h3>Thông tin tài khoản</h3>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>Tên tài khoản :</td>
                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    @Model.TaiKhoans[0].Username
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mật khẩu :</td>
                                                            <td>
                                                                <a style="cursor: pointer;" onclick="showInPopup('@Url.Action("changepassword", "account",null,Context.Request.Scheme)','Thay đổi mật khẩu')">
                                                                    ●●●●●●
                                                                    <span>Chỉnh sửa</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- User Dashboard Section End -->
<div class="bg-overlay"></div>
<script>
    showInPopup = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                const myModal = new bootstrap.Modal(document.getElementById('form-modal'));
                myModal.show();
            },
            error: function (err) {
                console.log(err)
            }
        })
    }
    function readURL(uploader) {
        $('.update_img').attr('src',
            window.URL.createObjectURL(uploader.files[0]));
        var data = new FormData();
        data.append("formFile", uploader.files[0]);
        console.log(uploader.files[0]);
        console.log(data.get("formFile"));
        $.ajax({
            type: "POST",
            url: "@Url.Action("fileupload", "account",null,Context.Request.Scheme)",
            data: data,
            processData: false,
            contentType: false
        }).done(function (result) {
            if (result.status == "success") {
                console.log("abc");
            } else {
                console.log("cba");
            }
        });
    };
</script>